.message {
    display: flex;
    justify-content: center;
    .container {
        width: 1200px;
        margin: 50px;
        .breadcrumbs {
           font-weight: 300;
           font-size: 13px;
           color: #555;
        }
        .messages {

        }
        .write {

        }
    }
}