.message {
    display: flex;
    justify-content: center;
    .container {
        width: 1200px;
        margin: 50px;
        .breadcrumbs {
           font-weight: 300;
           font-size: 13px;
           color: #555;
        }
        .messages {
           margin: 30px 0;
           padding: 50px;
           display: flex;
           flex-direction: column;
           gap: 20px;
           height: 500;
           overflow: scroll;
           .item {
             display: flex;
             gap: 20px;
             max-width: 600px;
             font-size: 18px;
             p{
                padding: 20px;
                background-color: lightgray;
                border-radius: 0 20px 20px 20px;
             }
           }
        }
        .write {

        }
    }
}